# Core LLM & Embedding
sentence-transformers
transformers
torch
chromadb

# LLM APIs
cohere
google-generativeai

# UI
streamlit
streamlit-option-menu

# Utilities
tqdm
python-dotenv
requests

# Code Parsing
tree-sitter==0.20.4
tree_sitter_languages==1.10.2
  

# Compatibility
protobuf
uvicorn