# FastAPI + backend
fastapi
uvicorn
pydantic
python-dotenv
requests
protobuf

# Optional heavy ML packages (install at runtime)
chromadb
torch
transformers
sentence-transformers

# UI
streamlit
streamlit-option-menu

# Code parsing
tree-sitter==0.20.4
tree_sitter_languages==1.10.2

# Utilities
tqdm
